* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e0e0e0;
}

.App {
	width: 800px;
}

.post {
	display: flex;
	padding: 15px;
	border: 2px solid #000000;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
}

.postBtns {
	display: flex;
	gap: 10px;
}

.post-enter {
	transform: translateX(-550px);
}
.post-enter-active {
	transform: translateX(0px);
	transition: all 500ms ease-in;
}
.post-exit {
	opacity: 1;
}
.post-exit-active {
	transform: translateX(-550px);
	transition: all 500ms ease-in;
}

.page__wrapper {
	margin: 30px 0;
	display: flex;
}

.page {
	padding: 10px;
	border: 1px solid #000000;
	cursor: pointer;
}

.page_current {
	background: #000000;
	color: white;
	font-size: bold;
}

.navbar {
	width: 100%;
	height: 50px;
	background: #333;

	display: flex;
	align-items: center;
	padding: 0 15px;
}

.navbar__links {
	margin-left: auto;
}

.link {
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
	transform: scale(1.1);
	transition: transform 100ms ease;
}
